<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ReCaptcha</title>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form action="/submit" method="post">
            {% csrf_token %}
            <input type="text" name="sample_input">
            <button type="submit" class="btn btn-success" id="form_button">Summit</button>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal button 2
</button>

<form action="/submit" method="POST">
    {% csrf_token %}
    <input type="text" name="sample_input_2">
    <button class="btn invsible-recaptcha">Submit</button>
</form>

<form action="/submit" method="POST">
    {% csrf_token %}
    <input type="text" name="sample_input_3">
    <button class="btn invsible-recaptcha">Submit</button>
</form>

<script type="text/javascript">
    var actualFormSubmit = function(response) {
        console.log('Submit form with response');
        console.log(response);
        alert('Submit form');
    };

    var actualFormSubmit2 = function(response, elemId) {
        console.log('actual form submit 2');
        console.log(response);
        console.log(elemId);
        console.log(elemId.closest('form'));
    };

    var onloadCallback = function() {
        console.log(grecaptcha);

        // NOTE: keeping this here is secure as it makes sure that grecaptcha objects exists
        $('#myModal').on('show.bs.modal', function(event) {
            grecaptcha.render('form_button', {
                'sitekey' : '6LcRqyMUAAAAAHCZxFAyLCFTv8phJ7shTqu0jjoS',
                'callback': function(response) {
                    actualFormSubmit(response);
                }
            });
        });

        $('.invsible-recaptcha').each(function(index, item) {
            grecaptcha.render(item, {
                'sitekey' : '6LcRqyMUAAAAAHCZxFAyLCFTv8phJ7shTqu0jjoS',
                'callback': function(response) {
                    actualFormSubmit2(response, item);
                }
            });
        });
    };
</script>

<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
    async defer>
</script>
</body>
</html>
